.tippy-tooltip.wf-theme
  border none
  border-radius 0
  background black
.tippy-popper[x-placement^=top] .tippy-tooltip.wf-theme .tippy-arrow
  border-top-color black

.tippy-popper[x-placement^=bottom] .tippy-tooltip.wf-theme .tippy-arrow
  border-bottom-color black
.tippy-tooltip.wf-theme .tippy-content
  max-width 300px