.xroll
  &__button


    & .freegame
      {b_txt_pl16}
      color $clr_grey
      margin-bottom 10px

      & span
        {b_txt_pl24}


    & .button
      display inline-block
      vertical-align top
      width 240px
      height 46px
      background $clr_orange
      text-align center
      {b_txt_qu18}
      text-transform uppercase
      color $clr_white
      line-height 46px
      cursor pointer

      &:hover
        background $clr_white
        color $clr_black
