.xroll
  &__game


    & .background
      width 436px
      height 436px
      background url('~@/assets/images/game_back.png') no-repeat right top
      position relative
      z-index 1
      margin 0 auto 0 auto


    & .rotate_block
      width 376px
      height 374px
      position absolute
      left 50%
      top 50%
      margin -187px 0 0 -188px
      background url('~@/assets/images/game_front.png') no-repeat 50% 50%
      z-index 2

      &.win_1
        & .rotate_item
          transform rotate(-270deg)
      &.win_2
        & .rotate_item
          transform rotate(-46deg)
      &.win_3
        & .rotate_item
          transform rotate(-135deg)
      &.win_4
        & .rotate_item
          transform rotate(-315deg)
      &.win_5
        & .rotate_item
          transform rotate(-180deg)
      &.win_6
        & .rotate_item
          transform rotate(-90deg)
      &.win_7
        & .rotate_item
          transform rotate(-225deg)
      &.win_8
        & .rotate_item
          transform rotate(0deg)

    & .rotate_hidden
      width 86px
      height 86px
      border-radius 50%
      background $clr_grey_darker
      position absolute
      overflow hidden
      z-index 3

      &.pos_1
        left 145px
        top 275px

      &.pos_2
        left 237px
        top 50px

      &.pos_3
        left 52px
        top 50px

      &.pos_4
        left 238px
        top 237px

      &.pos_5
        left 13px
        top 143px

      &.pos_6
        left 145px
        top 11px

      &.pos_7
        left 52px
        top 236px

      &.pos_8
        left 277px
        top 143px

    & .rotate_item
      border 5px solid $clr_orange
      box-shadow 0px 0px 3px $clr_orange
      background #2c363e
      border-radius 50%
      width 86px
      height 86px
      position absolute
      left 50%
      top 50%
      margin -43px 0 0 -43px
      {b_txt_pl30}
      line-height 76px
      color transparent
      text-align center

      & span
        {b_pos_center}

      & .icon
        line-height 86px
        {b_pos_center}
        color $clr_white

        &-freegame
          font-size 60px
          height 73px
        &-double
          font-size 80px
          height 80px
        &-reload
          height 70px
          font-size 70px

      &.text--overflow
        & .text
          color $clr_white

      &.win
        background $clr_orange
        & .icon
          color $clr_black
        & span
          animation rotate .5s linear forwards .5s

      &.win.text--overflow
        background $clr_orange
        & .text
          color $clr_black

    & .button
      width 123px
      height 123px
      border 2px solid #2c363e
      box-shadow 0px 0px 2px #2c363e
      background $clr_orange
      {b_txt_qu32}
      color $clr_white
      text-transform uppercase
      text-align center
      line-height 122px
      {b_pos_center}
      z-index 5
      border-radius 50%
      cursor pointer

      &.loading--state
        color transparent
        &:hover
          color transparent
        &:after
          content '.'
          font normal 100px/60px Georgia
          animation loader-red 1s infinite;
          color transparent
          position absolute
          left 60%
          transform translateX(-50%)

      &:hover
        background $clr_white
        color $clr_black


@keyframes loader-red
  from
    text-shadow: -1ex 0 $clr_black, -.5ex 0 rgba($clr_black, 0.5), 0 0 rgba($clr_black, 0.5), .5ex 0 rgba($clr_black, 0.5);
  16%
    text-shadow: -1ex 0 rgba($clr_black, 0.5), -.5ex 0 $clr_black, 0 0 rgba($clr_black, 0.5), .5ex 0 rgba($clr_black, 0.5);
  32%
    text-shadow: -1ex 0 rgba($clr_black, 0.5), -.5ex 0 rgba($clr_black, 0.5), 0 0 $clr_black, .5ex 0 rgba($clr_black, 0.5);
  48%
    text-shadow: -1ex 0 rgba($clr_black, 0.5), -.5ex 0 rgba($clr_black, 0.5), 0 0 rgba($clr_black, 0.5), .5ex 0 $clr_black;
  64%
    text-shadow: -1ex 0 rgba($clr_black, 0.5), -.5ex 0 rgba($clr_black, 0.5), 0 0 rgba($clr_black, 0.5), .5ex 0 rgba($clr_black, 0.5);
  80%, to
    text-shadow: -1ex 0 rgba($clr_black, 0.5), -.5ex 0 rgba($clr_black, 0.5), 0 0 rgba($clr_black, 0.5), .5ex 0 rgba($clr_black, 0.5);

@keyframes rotate
  from
    transform: translate(-50%, -50%) rotate(0deg)
  to
    transform: translate(-50%, -50%) rotate(90deg)
