*
  margin 0
  padding 0
  border 0
  outline none
  box-sizing border-box
  list-style none
  user-select none


body
  background $clr_grey_darker


.xroll
  width 880px
  margin 0 auto
  position relative
  padding 20px 0


  &__statistics
    display inline-block
    width 195px
    background $clr_grey_dark
    padding 25px 15px
    vertical-align top
    min-height 370px
    margin-top 30px


  &__status
    display inline-block
    width 195px
    background $clr_grey_dark
    padding 25px 15px
    vertical-align top
    min-height 370px
    margin-top 30px

  &__game
    display inline-block
    width 490px
    position relative
    vertical-align top


  &__button
    text-align center
    margin 40px 0 50px 0
    vertical-align top
