.xroll__popup
  position absolute
  top 50%
  left 0
  right 0
  transform translateY(-50%)
  background $clr_black
  text-align center
  z-index 100

  & .close
    width 20px
    height 20px
    position absolute
    right 10px
    top 10px
    z-index 101
    cursor pointer
    &:hover
      &:after
      &:before
        background $clr_white
    &:after
    &:before
      content ''
      background $clr_orange
      position absolute
      left 50%
      top 50%
    &:after
      width 20px
      height 1px
      transform translate(-50%, -50%) rotate(45deg)

    &:before
      width 20px
      height 1px
      transform translate(-50%, -50%) rotate(-45deg)

  & h4
    color $clr_orange
    {b_txt_qu18}
    text-transform uppercase
    padding 35px 0 20px 0

  & .active_bonus
    color $clr_white
    margin-bottom 20px

    & .text
      {b_txt_pl16}
      text-transform uppercase
      margin-bottom 5px

    & .count
      {b_txt_pl52}
      text-transform uppercase

  & .user_balance
    {b_txt_pl16}
    color $clr_white
    text-transform uppercase
    margin-bottom 15px
    line-height 26px

    & .icon
      vertical-align -2px

  & .hint_text
    {b_txt_pl16}
    color $clr_grey
    margin-bottom 20px

  & .button
    display inline-block
    vertical-align top
    width 240px
    height 46px
    background $clr_orange
    text-align center
    {b_txt_qu18}
    text-transform uppercase
    color $clr_white
    line-height 46px
    cursor pointer
    margin 0 10px 35px 10px

    & .icon
      vertical-align -2px

    &.new--game
      border 1px solid $clr_orange
      background #000
      color $clr_orange

    &:hover
      background $clr_white
      border-color $clr_white
      color $clr_black
