.xroll
  &__status


  & .reward_icons
    {b_txt_pl16}
    color $clr_grey
    margin-bottom 20px

    & .reward_item
      margin-bottom 5px

      & .icon
        font-size 45px
        height 45px
        vertical-align top

      & .text
        margin-left 20px
        display inline-block
        vertical-align top
        width 100px
        &.double
        &.reload
          margin-top 10px
          
