.xroll
  &__statistics

    & .top_reward
      margin-bottom 45px

      & h4
        text-transform uppercase
        color $clr_orange
        {b_txt_pl18}
        margin-bottom 20px
        white-space pre-wrap

      & ul
        margin 0
        padding 0

        & li
          {b_txt_pl18}
          color $clr_grey
          margin 0 0 5px 20px
          list-style decimal
