.xroll
  &__statistics


    & .user_bonus
      {b_txt_pl18}

      & h4
        text-transform uppercase
        color $clr_orange
        margin-bottom 20px

      & p
        {b_txt_pl18}
        color $clr_grey
