.xroll
  &__status


    & .user_record
      border-top 2px solid $clr_grey_darker
      padding-top 30px
      margin 0 -15px 0 -15px
      text-align center

      & h4
        text-transform uppercase
        color $clr_orange
        {b_txt_pl18}
        margin-bottom 20px

      & p
        color $clr_orange
        {b_txt_pl52}
