//--[Позиция элемента по центру]--//
b_pos_center = @block {
  position absolute
  left 50%
  top 50%
  transform translate(-50%, -50%)
}


//--[Цвета]--//
$clr_black       = #000000
$clr_white       = #ffffff
$clr_orange      = #ff4400
$clr_grey        = #9ba0a5
$clr_grey_dark   = #1f262c
$clr_grey_darker = #191e23
//--[/Цвета]--//


//--[Шрифты]--//
b_txt_qu32 = @block {
  font-size 32px
  font-family 'Quantico'
}
b_txt_qu26 = @block {
  font-size 26px
  font-family 'Quantico'
}
b_txt_qu18 = @block {
  font-size 18px
  font-family 'Quantico'
}
b_txt_pl16 = @block {
  font-size 16px
  font-family 'plumblight'
}
b_txt_pl18 = @block {
  font-size 18px
  font-family 'plumblight'
}
b_txt_pl24 = @block {
  font-size 24px
  font-family 'plumblight'
}
b_txt_pl26 = @block {
  font-size 26px
  font-family 'plumblight'
}
b_txt_pl30 = @block {
  font-size 30px
  font-family 'plumblight'
}
b_txt_pl52 = @block {
  font-size 52px
  font-family 'plumblight'
}
//--[/Шрифты]--//
