//--[Цвета]--//
$clr_white     = #ffffff
$clr_black     = #000000
$clr_red       = #ff0100
$clr_red_lite  = #ff4400
$clr_orange    = #ff9c00
$clr_yellow    = #ffe26e
$clr_grey      = #a4a4a4
$clr_blue      = #50fcf5
$clr_blue_dim  = #2eada8
$clr_blue_dark = #08201e
.old-browser-coll
  position fixed
  z-index 100
  bottom 0
  background $clr_black
  border 1px solid #4A0D0B
  width 690px
  height 60px
  color $clr_red
  left: 50%
  margin-left -345px
  cursor pointer
  &__text
    {b_txt_qu16}
    color $clr_red
    text-transform uppercase
    text-align center
    line-height 20px
    padding 20px 0
  &__close
    background url('images/close.png') center center no-repeat
    width 20px
    height 20px
    background-size contain
    transition all .1s linear
    cursor pointer
    position absolute
    top 20px
    right 15px
    margin-left -12px
    z-index 101
    &:hover
      filter grayscale(100%)
    &.small
      width 11px
      height 11px
.old-browser-popup
  position absolute
  width 620px
  height 430px
  top: 50%
  left: 50%
  margin-top -215px
  margin-left -310px
  background $clr_black
  border 1px solid #4A0D0B
  padding 20px
  display none
  &__header
    {b_txt_qu16}
    color $clr_red
    text-transform uppercase
    text-align center
  &__important-img
    background url('images/icon_important.png') center center no-repeat
    width 116px
    height 102px
    margin 20px auto 20px auto
  &__text
    color $clr_white
    {b_txt_pl16}
    margin 20px 40px
    text-align left
  &__button
    {main_button}
    width 180px
  &__browser-list
    display flex
    flex-wrap nowrap
    width 500px
    justify-content space-around
    margin 20px auto 30px auto
    text-align center
  &__browser-link
    text-decoration underline
    color $clr_red
    text-align center
    margin-right 25px
  &__browser-image
    width 52px
    height 52px
    margin 0 auto 5px auto
    text-align center
    vertical-align middle
    &--chrome
      background url('images/chrome.png') center center no-repeat
    &--edge
      background url('images/edge.png') center center no-repeat
    &--firefox
      background url('images/firefox.png') center center no-repeat
  &__close
    background url('images/close.png') center center no-repeat
    width 20px
    height 20px
    background-size contain
    transition all .1s linear
    cursor pointer
    position absolute
    top 20px
    right 15px
    margin-left -12px
    z-index 101
    &:hover
      filter grayscale(100%)
    &.small
      width 11px
      height 11px

