<template >
  <div id="app">
    <NotifyBlock/>
    <TooltipBlock/>
    <ScrollBlock/>

    <Notifications/>
  </div>
</template>

<script>
  import Notifications from '@comp/notifications/projects/wf/Notifications.vue';
  import NotifyBlock from './components/Notify';
  import TooltipBlock from './components/Tooltip.vue';
  import ScrollBlock from './components/Scroll.vue';

  //import Test from './components/Test';


  export default {
    name: 'App',
    components: {
      NotifyBlock,
      TooltipBlock,
      Notifications,
      ScrollBlock
    }
  };
</script>
<style lang="stylus">
  body
    background gray
</style>
