<template lang="pug">

div.xroll
  div.xroll__timer
    p(v-if="!userNewDay") {{ $t('timer.free_games_disabled') }}
    p(v-if="userNewDay") {{ $t('timer.free_games_enabled') }}
    <timer v-if="userNewDay === 0" v-bind:seconds-left="secondsLeft" v-bind:show-days="false" v-bind:show-text="false" />

  div.xroll__statistics
    <topRewards />
    <userRecord />

  div.xroll__game
    <gameBlock />

  div.xroll__status
    <rewardIcons />
    <userBonus />
  <buttonCount />
  <gamePopups />
</template>

<script>
/**
 * Компоненты
 */
import timer from '@comp/timer/timer'
import topRewards from '@/components/blocks/topRewards'
import userRecord from '@/components/blocks/userRecord'
import rewardIcons from '@/components/blocks/rewardIcons'
import userBonus from '@/components/blocks/userBonus'
import buttonCount from '@/components/blocks/buttonCount'
import gameBlock from '@/components/blocks/gameBlock'
import gamePopups from '@/components/blocks/gamePopups'
/**
 * Стили
 */
import app_style from '@/assets/style/index.styl'

export default {
  name: 'Xroll',

  components: {
    timer,
    topRewards,
    userRecord,
    rewardIcons,
    userBonus,
    buttonCount,
    gameBlock,
    gamePopups
  },

  computed: {
    userNewDay() {
      return this.$store.getters.getUserNewday
    },

    secondsLeft() {
      return this.$store.getters.getActionEnd - this.$store.getters.getCurrentTime
    }
  },

  mounted() {
    this.$on('event::counterEnd', function() {
      location.reload()
    })
  }
}
</script>
