<template>
    <div class="notify-block">
        <h3 class="">Блок нотификаций</h3>
        <div class="notify-block__content">
            <div class="notify-button" v-on:click="click_1">Обычная</div>
            <div class="notify-button" v-on:click="click_2">Предупреждение</div>
            <div class="notify-button" v-on:click="click_3">Ошибка</div>
        </div>
    </div>
</template>
<script>
  export default {
    methods : {
      click_1 : function () {
        this.$notify({
          group: 'default',
          type : 'success',
          text: 'Привет! Я самая обычная нотификация',
        });
      },
      click_2 : function () {
        this.$notify({
          group: 'default',
          type : 'warning',
          text: 'Привет! Я нотификация-предупреждение',
        });
      },
      click_3 : function () {
        this.$notify({
          group: 'default',
          type : 'error',
          text: 'Привет! Я нотификация-ошибка',
        });
      },
    },

  }
</script>
<style lang="stylus">
    .notify-block
        max-width 630px
        width 100%
        margin 30px auto
        h3
            text-align center
        &__content
            display flex
            flex-wrap wrap
            justify-content space-between
    .notify-button
        height 30px
        line-height 30px
        display inline-block
        background #ff4400
        text-align center
        color white
        text-transform uppercase
        cursor pointer
        padding 10px 20px
        &:hover
            background white
            color black
</style>