<template>
    <div class="scroll-block">
        <h3>Блок со скроллом</h3>
        <div class="scroll-block__content">
            <VueScrollbar classes="my-scrollbar" ref="Scrollbar">
                <div class="block-with-scroll">
                    <div class="block-with-scroll__item">Помните, что у VueScrollbar необходимо задать максимальную высоту</div>
                    <div class="block-with-scroll__item">А внутри у него желателен блок, который обобщит все внутренние итема</div>
                    <div class="block-with-scroll__item">Медленно минуты уплывают вдаль,</div>
                    <div class="block-with-scroll__item">Встречи с ними ты уже не жди.</div>
                    <div class="block-with-scroll__item">И, хотя нам прошлого немного жаль,</div>
                    <div class="block-with-scroll__item">Лучшее, конечно, впереди!</div>
                    <div class="block-with-scroll__item">Скатертью, скатертью дальний путь стелется</div>
                    <div class="block-with-scroll__item">И упирается прямо в небосклон.</div>
                    <div class="block-with-scroll__item">Каждому, каждому в лучшее верится,</div>
                    <div class="block-with-scroll__item">Катится, катится голубой вагон.</div>
                    <div class="block-with-scroll__item">Может, мы обидели кого-то зря —</div>
                    <div class="block-with-scroll__item">Календарь закроет этот лист,</div>
                    <div class="block-with-scroll__item">К новым приключениям спешим, друзья,</div>
                    <div class="block-with-scroll__item">Эй, прибавь-ка ходу, машинист!</div>
                    <div class="block-with-scroll__item">Скатертью, скатертью дальний путь стелется</div>
                    <div class="block-with-scroll__item">И упирается прямо в небосклон.</div>
                    <div class="block-with-scroll__item">Каждому, каждому в лучшее верится,</div>
                    <div class="block-with-scroll__item">Катится, катится голубой вагон.</div>
                </div>
            </VueScrollbar>
        </div>
    </div>
</template>
<script>
  import VueScrollbar from '@comp/scrollbar/projects/wf/scrollbar';
  export default {
    name : 'ScrollExample',
    components : {VueScrollbar}
  }
</script>
<style lang="stylus">
    .scroll-block
        max-width 630px
        width 100%
        margin 40px auto
        h3
            text-align center
            margin-bottom 20px
        &__content
            width 100%
    .my-scrollbar
        max-height 200px
        background black
    .block-with-scroll
        overflow hidden
        &__item
            text-align center
            color white
            margin 10px 0
</style>