<template>
    <div class="blabla">
        <p class="el" title="Какой-то полноценный текст еще немного текста" v-tippy="{ placement : 'top', trigger: 'click',  arrow: true, theme: 'wf' }">Клик-клик</p>
        <VueScrollbar classes="my-scrollbar" ref="Scrollbar">
            <div class="scroll-me">
                <div class="kolom"></div>
                <div class="kolom"></div>
                <div class="kolom"></div>
                <div class="kolom"></div>
                <div class="kolom"></div>
                <div class="kolom"></div>
                <div class="kolom"></div>
                <div class="kolom"></div>
                <div class="kolom"></div>
                <div class="kolom"></div>
                <div class="kolom"></div>
                <div class="kolom"></div>
                <div class="kolom"></div>
                <div class="kolom"></div>
                <div class="kolom"></div>
                <div class="kolom"></div>
                <div class="clearfix"></div>
            </div>
        </VueScrollbar>
    </div>
</template>
<script>
  import VueScrollbar from '@comp/scrollbar/projects/wf/scrollbar';

  export default {
    data : function () {
      return {
        message : "Тултипчег"
      }
    },
    methods : {
      click : function () {

      }
    },
    components: { VueScrollbar },

}
</script>
<style lang="stylus">
    .my-scrollbar
        max-height: 450px;
        width 620px;
        margin 0 auto;
    .scroll-me
        display flex
        width 610px
        max-width 610px
        flex-wrap wrap
        justify-content space-around
    .kolom
        width 200px
        height 200px
        border 1px solid black
    .el
        width 200px
        text-align center


</style>