<template>
    <div class="tooltip-block">
        <h3>Блок тултипов</h3>
        <div class="tooltip-block__content">
            <div class="tooltip-link" title="Я верхняя подсказка" v-tippy="{ placement : 'top',  arrow: true, theme: 'wf' }">Наведи на меня 1</div>
            <div class="tooltip-link" title="Я нижняя подсказка и во мне непомерно много текста, никогда так не делай" v-tippy="{ placement : 'bottom',  arrow: true, theme: 'wf' }">Наведи на меня 2</div>
            <div class="tooltip-link" title="А я появляюсь только по клику" v-tippy="{ placement : 'bottom', trigger:'click',  arrow: true, theme: 'wf' }">Кликни на меня!</div>

        </div>
    </div>
</template>
<script>
    export default {
      name : 'TooltipExample'
    }
</script>
<style lang="stylus">
    .tooltip-block
        max-width 630px
        width 100%
        margin 40px auto
        h3
            text-align center
            margin-bottom 20px
        &__content
            display flex
            flex-wrap wrap
            justify-content space-between
    .tooltip-link
        cursor pointer
        text-decoration underline
        color black
</style>