<template lang="pug">
div.wf__error
  div.wf__error__popup__overlay
  div.wf__error__popup
    div.close(v-on:click="reloadPage")
    div.wf__error__popup__content
      div.text {{ errorDataText }}
    div.wf__error__popup__buttons
      div.popup__button(v-on:click="reloadPage") {{ errorButtonReloadText }}
</template>

<script>
import wf_fonts from '../../../public/fonts/wf/_fonts.styl'

export default {
  props: ['error_data'],
  data() {
    return {
      button_reload: {
        en: 'Refresh',
        de: 'Aktualisieren für',
        fr: 'Actualiser',
        pl: 'Odśwież',
        es: 'Actualizar',
        cn: '刷新网页',
        ru: 'Перезагрузить'
      },
      default_language: {
        ru: 'ru',
        com: 'en'
      }
    }
  },
  computed: {
    errorDataText() {
      let error_info = this.error_data
      return error_info.message
    },
    errorButtonReloadText() {
      return this.button_reload[this.curLang]
    },
    domainZone() {
      return window.location.host.split('.').reverse()[0]
    },
    curLang() {
      return this.getCookie('cur_language') || this.default_language[this.domainZone]
    }
  },
  methods: {
    reloadPage() {
      window.location.reload()
    },
    getCookie(name) {
      let matches = document.cookie.match(new RegExp('(?:^|; )' + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + '=([^;]*)'))
      return matches ? decodeURIComponent(matches[1]) : undefined
    }
  }
}
</script>

<style lang="stylus">
.wf__error__popup__overlay
  position fixed
  left 0
  top 0
  right 0
  bottom 0
  background rgba(0, 0, 0, 0.6)
  z-index 100

.wf__error__popup
  width 575px
  position absolute
  left 50%
  top 50%
  transform translateY(-50%)
  margin-left -287px
  background #000
  z-index 101

  & .close
    width 15px
    height 15px
    position absolute
    right 10px
    top 10px
    cursor pointer
    background url(images/close.png) no-repeat 0 0
    background-size contain
    transition all .1s linear
    &:hover
      filter grayscale(100%)

  &__content
    min-height 160px
    padding 50px 90px 20px 90px

    & .text
      font normal 16px/18px plumblight
      color #a1afb2
      text-align center

  &__buttons
    text-align center
    padding-bottom 40px

    & .popup__button
      background #ff4401
      border 1px solid #ff4401
      display inline-block
      margin 0 20px
      color #fff
      font normal 16px/20px Quantico
      cursor pointer
      text-align center
      padding 10px 20px
      text-transform uppercase
      &:hover
        background none

</style>
