<template lang="pug">
  div.xroll__button
    div.freegame
      | {{ $t('free_games') }}
      span &nbsp;{{ getUserFreeGames }}
    div.button(v-on:click="goToBilling") {{ $t('modal.billing_button') }}
</template>

<script>
export default {
  name: 'buttonCount',
  computed: {
    getUserFreeGames() {
      return parseInt(this.$store.getters.getUserFreeGames)
    }
  },
  methods: {
    goToBilling: function(e) {
      let cur_language = this.$store.state.cur_language

      if (cur_language === 'ru') {
        window.open('https://wf.mail.ru/billing/payment/', '_blank')
      } else {
        window.open('https://wf.my.com/' + cur_language + '/shop/', '_blank')
      }
    }
  }
}
</script>
