<template lang="pug">
  div.background
    div.rotate_block(v-bind:class="'win_' + winSector", ref="rotate_block")
      div.rotate_hidden( v-for="(val, i) in getGameFields", v-bind:class="'pos_'+i")
        div.rotate_item(v-bind:class="{'text--overflow': val >= 1 }", v-show="val !== 0", ref="rotate_item")
          span.text {{ val }}%
          span.icon(v-bind:class="'icon-' + val")
    div.button( v-on:click="xrollTurn", v-bind:class="{'loading--state': loading}" ) {{$t('push_button')}}
</template>

<script>

import anime from 'animejs'

export default {
  name: 'gameBlock',

  data: function() {
    return {
      animation: false,
      next_animation: false,
      angles: [270, 46, 135, 315, 180, 90, 225, 0],
      block_button: false
    }
  },

  computed: {
    getGameFields() {
      return this.$store.getters.getGameFields;
    },

    winSector() {
      return this.$store.getters.getWinSector;
    },

    loading() {
      return this.$store.getters.getLoading;
    }

  },

  methods: {
    xrollTurn: function(e) {

      if (this.loading || this.block_button) {
        return false;
      }

      let _that = this;

      this.block_button = true;

      this.$store.dispatch('turn').then((response_data) => {

        anime({
          targets: _that.$refs.rotate_block,
          rotate: [0, 1080 + _that.angles[_that.winSector - 1]],
          duration: 4000,
          loop: false,
          easing: [0.215, 0.610, 0.355, 1.000],
          complete: function(anim) {

            if (response_data.loss > 0) {
              _that.$store.commit('updateGameData', response_data);
              _that.block_button = false;
              return false;
            }

            let win_sector = _that.$refs.rotate_item[_that.winSector - 1];
            win_sector.classList.add('win');

            anime({
              targets: win_sector,
              rotate: {
                value: '-' + _that.angles[_that.winSector - 1],
                duration: 1,
                delay: 0
              },
              translateX: 100,
              duration: 800,
              delay: 500,
              easing: 'linear',
              complete: function(anim) {
                _that.$store.commit('updateGameData', response_data);
                win_sector.classList.remove('win');
                win_sector.setAttribute('style', '');
                _that.block_button = false;
              }
            });

          }

        });

      });

    }
  }
};
</script>
