<template lang="pug">
  // end game popup
  div.xroll__popup(v-if="showPopup && !userNewDay || getBonusUsed")
    h4 {{ $t('modal.end_game.header') }}

    template(v-if="!userCredit && !getBonusUsed")
      div.active_bonus
        div.text {{ $t('chest') }}
        div.count {{ finalBonus }}%

    template(v-if="userCredit")
      div.user_balance
        | {{ $t('modal.credit.part1') }}
        <br />
        | {{ userCredit }}&nbsp;
        span.icon.icon-credit
        <br />
        | {{ $t('modal.credit.part2') }}

    div.hint_text(v-if="!getBonusUsed")
      p {{ $t('modal.hint') }}

    div.user_balance(v-if="!userCredit && !userFreeGames")
      | {{ $t('modal.end_game.your_balance') }} {{ userBalance }}&nbsp;
      span.icon.icon-credit

    div.buttons_block
      div.button(v-if="!userCredit && !getBonusUsed", v-on:click="goToBilling") {{ $t('modal.billing_button') }}
      div.button(v-if="userCredit && !getBonusUsed", v-on:click="goToBilling") {{ $t('modal.credit_billing_button') }}
      div.button.new--game(v-if="userFreeGames || userNewDay", v-on:click="startNewGame") {{ $t('modal.new_game_button') }}
      div.button(v-if="!userFreeGames && (userBalance > 100) && !userNewDay",  v-on:click="buyNewGame")
        | {{ $t('modal.buy_game_button') }} 100&nbsp;
        span.icon.icon-credit

  // new game popup
  div.xroll__popup(v-else-if="showPopup && userNewDay")
    h4 {{ getBonusUsed ? $t('modal.new_game.header1') : $t('modal.new_game.header2') }}

    template(v-if="!userCredit && !getBonusUsed")
      div.active_bonus
        div.text {{ $t('chest') }}
        div.count {{ finalBonus }}%

    template(v-if="userCredit")
      div.user_balance
        | {{ $t('modal.credit.part1') }}
        <br />
        | {{ userCredit }}&nbsp;
        span.icon.icon-credit
        <br />
        | {{ $t('modal.credit.part2') }}

    div.hint_text(v-if="!getBonusUsed")
      p {{ $t('modal.hint') }}

    div.buttons_block
      div.button(v-if="!userCredit && !getBonusUsed", v-on:click="goToBilling") {{ $t('modal.billing_button') }}
      div.button(v-if="userCredit && !getBonusUsed", v-on:click="goToBilling") {{ $t('modal.credit_billing_button') }}
      div.button.new--game(v-if="userFreeGames || userNewDay", v-on:click="startNewGame") {{ $t('modal.new_game_button') }}
      div.button(v-if="!userFreeGames && (userBalance > 100) && !userNewDay",  v-on:click="buyNewGame")
        | {{ $t('modal.buy_game_button') }} 100&nbsp;
        span.icon.icon-credit
</template>

<script>
export default {
  name: 'Popups',
  computed: {
    finalBonus() {
      return this.$store.getters.getUserTotalBonus
    },

    userFreeGames() {
      return parseInt(this.$store.getters.getUserFreeGames)
    },

    showPopup() {
      return this.$store.getters.getLooseState
    },

    userBalance() {
      return this.$store.getters.getUserBalance
    },

    userNewDay() {
      return this.$store.getters.getUserNewday
    },

    userCredit() {
      return parseInt(this.$store.getters.getUserCredit)
    },

    getBonusUsed() {
      return parseInt(this.$store.getters.getBonusUsed)
    }
  },

  mounted: function() {
    this.$store.dispatch('userBalance')
  },

  methods: {
    startNewGame: function(e) {
      this.$store.dispatch('startNewGame')
      this.$store.dispatch('userBalance')
    },
    buyNewGame: function(e) {
      this.$store.dispatch('buyNewGame')
      this.$store.dispatch('userBalance')
    },
    goToBilling: function(e) {
      let cur_language = this.$store.state.cur_language
      if (cur_language === 'ru') {
        window.open('https://wf.mail.ru/billing/payment/', '_blank')
      } else {
        window.open('https://wf.my.com/' + cur_language + '/shop/', '_blank')
      }
    }
  }
}
</script>
