<template lang="pug">
  div.reward_icons
    div.reward_item
      span.icon.icon-double
      span.text.double {{$t('bonus.double')}}
    div.reward_item
      span.icon.icon-freegame
      span.text {{$t('bonus.freegame')}}
    div.reward_item
      span.icon.icon-reload
      span.text.reload {{$t('bonus.reload')}}
</template>

<script>
export default {
  name: 'rewardIcons',
};
</script>
