<template lang="pug">
  div.top_reward
    h4 {{$t('top.day_top.header')}}
    ul
      li(v-for="val in getRecordsOfTheDay") {{ val }}%
</template>

<script>
export default {
  name: 'topRewards',
  computed: {
    getRecordsOfTheDay() {
      return this.$store.getters.getRecordsOfTheDay
    }
  }
};
</script>
