<template lang="pug">
  div.user_bonus
    h4 {{ $t('top.personal_top.header') }}
    p {{ getUserRecord }}%
</template>

<script>
export default {
  name: 'userBonus',
  computed: {
    getUserRecord() {
      return this.$store.getters.getUserRecord
    }
  }
};
</script>
