<template lang="pug">
  div.user_record
    h4 {{$t('chest')}}
    p {{ getUserTotalBonus }}%
</template>

<script>
export default {
  name: 'userRecord',
  computed: {
    getUserTotalBonus() {
      return this.$store.getters.getUserTotalBonus
    }
  }
};
</script>
