.icon
  display inline-block

@font-face {
  font-family: "wf-xroll";
  src:url("/minigames/xroll/static/wf/dist/static/_fonts/wf/wf-xroll.eot");
  src:url("/minigames/xroll/static/wf/dist/static/_fonts/wf/wf-xroll.eot?#iefix") format("embedded-opentype"),
    url("/minigames/xroll/static/wf/dist/static/_fonts/wf/wf-xroll.woff") format("woff"),
    url("/minigames/xroll/static/wf/dist/static/_fonts/wf/wf-xroll.ttf") format("truetype"),
    url("/minigames/xroll/static/wf/dist/static/_fonts/wf/wf-xroll.svg#wf-xroll") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "wf-xroll" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "wf-xroll" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-freegame:before {
  content: "\61";
}
.icon-double:before {
  content: "\62";
}
.icon-reload:before {
  content: "\63";
}
.icon-credit:before {
  content: "\64";
}
