<template lang="pug">
  div#app
    <router-view v-if="show_game"></router-view>
    errorPopup(v-bind:error_data="getError", v-if="getError")
</template>

<script>
import index from './components/index'
import errorPopup from '@comp/error_popup/wf/error'

export default {
  name: 'App',
  components: {
    index,
    errorPopup
  },

  data: function() {
    return {
      show_game: false
    }
  },
  computed: {
    getError() {
      let error_data = this.$store.state.error_data
      if (error_data) {
        return this.$store.state.error_data
      }
    }
  },
  mounted: function() {
    let _that = this

    this.show_game = false

    window.onload = function() {
      _that.$store.dispatch('userInfo').then(() => {
        _that.$store.dispatch('info').then(() => {
          _that.show_game = true

          _that.$store.commit('writeCurrentLanguage', _that.$i18n.i18next.language)

          let event = new Event('event::loadingStop')
          document.dispatchEvent(event)
        })
      })
    }
  }
}
</script>
