@font-face {
	font-family: 'Quantico';
	src: url('//wf.cdn.gmru.net/minigames_static/public/fonts/wf/Quantico_new.woff') format('woff'),
		 url('//wf.cdn.gmru.net/minigames_static/public/fonts/wf/Quantico_new.woff2') format('woff2'),
		 url('//wf.cdn.gmru.net/minigames_static/public/fonts/wf/Quantico_new.ttf') format('truetype'),
		 url('//wf.cdn.gmru.net/minigames_static/public/fonts/wf/Quantico_new.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'plumbregular';
	src: url("//wf.cdn.gmru.net/minigames_static/public/fonts/wf/Plumb-Regular.eot");
	src: url("//wf.cdn.gmru.net/minigames_static/public/fonts/wf/Plumb-Regular.woff2") format('woff2'), url("//wf.cdn.gmru.net/minigames_static/public/fonts/wf/Plumb-Regular.woff") format('woff2'), url("//wf.cdn.gmru.net/minigames_static/public/fonts/wf/Plumb-Regular.eot?#iefix") format('embedded-opentype');
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'plumblight';
	src: url("//wf.cdn.gmru.net/minigames_static/public/fonts/wf/Plumb-Light.eot");
	src: url("//wf.cdn.gmru.net/minigames_static/public/fonts/wf/Plumb-Light.woff2") format('woff2'), url("//wf.cdn.gmru.net/minigames_static/public/fonts/wf/Plumb-Light.woff") format('woff2'), url("//wf.cdn.gmru.net/minigames_static/public/fonts/wf/Plumb-Light.eot?#iefix") format('embedded-opentype');
	font-weight: normal;
	font-style: normal
}
