.vue-scrollbar__wrapper
  background transparent
.vue-scrollbar__scrollbar-vertical
  background #a2a7ac;
  width 1px
  opacity 1
  right 2px
.vue-scrollbar__scrollbar-vertical .scrollbar
  background #a2a7ac;
  width 3px
  opacity 1
  right 1px
  border-radius 10px