<template lang="pug">
  .timer__block
    .timer__block__item(v-if="showDaysData")
      .count {{days}}
      .text(v-if="showTextData") Дни
    .timer__block__separator(v-if="showDaysData") &nbsp;:&nbsp;
    .timer__block__item
      .count {{hours}}
      .text(v-if="showTextData") Часы
    .timer__block__separator  &nbsp;:&nbsp;
    .timer__block__item
      .count {{minutes}}
      .text(v-if="showTextData") Минуты
    .timer__block__separator  &nbsp;:&nbsp;
    .timer__block__item
      .count {{seconds}}
      .text(v-if="showTextData") секунды
</template>

<script>
export default {
  name: 'Timer',
  props: {
    secondsLeft: Number,
    showDays: Boolean,
    showText: Boolean
  },

  data() {
    return {
      currentSeconds: this.secondsLeft,
      showDaysData: this.showDays,
      showTextData: this.showText,
      start: Date.now(),
      interval: null,
      diff: null,
      stop_timer: false
    }
  },

  methods: {
    timer() {
      this.diff = this.currentSeconds - (((Date.now() - this.start) / 1000) | 0)
      if (this.diff <= 0) {
        this.stop_timer = true
      }
    }
  },

  computed: {
    seconds() {
      return ('0' + Math.floor(this.diff) % 60).slice(-2)
    },

    minutes() {
      return ('0' + Math.floor(this.diff / 60) % 60).slice(-2)
    },

    hours() {
      return ('0' + Math.floor(this.diff / 3600) % 24).slice(-2)
    },

    days() {
      return ('0' + Math.floor(this.diff / 86400)).slice(-2)
    }
  },

  mounted() {
    this.timer()
    this.interval = setInterval(() => {
      if (!this.stop_timer) {
        this.timer()
      } else {
        this.$parent.$emit('event::counterEnd')
        clearInterval(this.interval)
      }
    }, 1000)
  },

  beforeDestroy() {
    clearInterval(this.interval)
  }
}
</script>

<style lang="stylus">
.timer__block
  &__item
    display inline-block
  &__separator
    display inline-block
</style>
